html {
    font-family: Arial, Helvetica, sans-serif;
    background: #eee;
}

#root {
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px #0002;
    margin: 0 auto;
    padding: 16px;
}
